h1 {
    color: #75d390;
}

.banner {
    background-image: url("https://th.bing.com/th/id/OIP.tMgvgFyJAf_ss7eDivSNigHaE7?w=304&h=202&c=7&r=0&o=5&dpr=1.1&pid=1.7");
    background-size: cover;
    padding: 280px 0;

}

.banner .container {
    height: 350px;
    align-items: center;
    justify-content: center;
}

.simuladorBOX {
    background-color: #32cd32;
    padding: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.simuladorC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#in_kg {
    color: black;
    margin-top: 12px;
}

#sel_estado {
    color: black;
    margin-top: 12px;
}

#sel_estado option {
    color: black;
}

.div_mensagem {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F2EFDC;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header {
    border-bottom: 3px solid #32b9cd;
    background-color: #4A91A1;
}

.header .container {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #e3b062;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
}


.titulo {
    color: black;
    width: fit-content;
    font-weight: 500;
}

.hoje {
    color: black;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
    font-weight: 800;
}

.lateral {

    font-weight: 800;
    display: flex;
    align-items: end;
    width: 300px;
    margin: auto;
    width: 30%;

}

* {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}

header {
    position: fixed;
    padding: 15px;
    display: flex;

    background-color: #383c4241;
}

.dash {
    width: 102%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
    background-color: #383c4241;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner .container p {
    font-size: 70px;
}

h1 {
    color: #FFFFFF;
    font-weight: 600;
}

ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}

button {
    background-color: black;
    width: 100%;
    height: 25px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    margin-top: 2%;
    font-weight: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: black;
    color: #32cd32;
    font-style: oblique;
    font-weight: bold;
}

li {
    color: #ffffff;
    height: 25px;
    border: 0;
    outline: 0;
    border-radius: 0px;
    margin-top: 2%;
    padding: 0.7%;
}

.banner {
    background-image: url("https://th.bing.com/th/id/R.94ac15dc2bee57902ace0ec3cdcb0707?rik=xpKKrEERV%2bCxWA&pid=ImgRaw&r=0");
    background-size: cover;
    padding: 260px 0;

}

.banner .container {
    height: 350px;
    align-items: center;
    justify-content: center;
}

.social {
    margin: 50px 0;
}

.social .caixas,
.caixa {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
}

.caixa {
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.caixa h4 {
    margin: 15px 0;
    color: #32cd32;
}

.caixa p {
    text-align: center;
    color: #000000;
}

.caixa img {
    width: 170px;
    color: #000000;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

footer {
    padding: 30px 0;
    background-color: grey;
}

footer p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}