@font-face
{
    font-family: Righteous-Regular;
    src: url(Righteous-Regular.ttf);
}
@keyframes rotate {
    
        
 10%{
     transform: translateY(-30px);
    
 }
 /* 20% */
 /* { */
    /* transform: translateY(30px); */
 /* } */
/*          */
/*     */
    
 
    
}
body {
    margin: 0;
    padding: 0;
    
    
    
}
.s

{
    margin: 0;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#000000;
    opacity: 1;
}
.navbar {
   
    height: px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    position: relative;
    right: 90px;
  
    
}
.im
{
    display: flex;
    padding: 0;
    margin: 0;
   
    position: relative;
    right: 200px;
    top: 20px;
}
.text1
{
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    
}
.text2
{
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    
}
.text3
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
   
    
}
.text4
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    
}
.text1:hover
{
    width: 25%;
    margin: 0;
    padding: 2%;
    background-color: #53AC46;
}
.text2:hover
{
    margin: 0;
    padding: 2%;
    background-color: #53AC46;
}
.text3:hover
{
    padding: 2%;
    background-color: #53AC46;
}
.text4:hover
{
    
    padding: 2%;
    background-color: #53AC46;
}
.link
{
    font-family: Righteous-Regular;
    text-decoration: none;
    color: white;
    font-size: 40px;
    
    
}
.login
{
    display: flex;
    align-items: center;
    position: relative;
    left: 90px;
}
.im:hover
{
    
    animation: rotate  ease alternate infinite;
    animation-duration: 1s;
    animation-delay: 0.1ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

.text1
{
    display: flex;
    width: auto;
}


.container
{
    display: flex;
    align-items: center;
    padding: 260px;
    justify-content: center;
}
.texto-container
{
    display: flex;
    position: relative;
}













footer {
    padding: 30px 0;
    background-color: #383c42;
}

footer p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
