.simuladorBOX {
  background-color: transparent;
  padding: 80px;
  border-radius: 10px;
  border: 1px solid white;
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.simuladorC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_kg {
  padding: 12px;
  margin: 10px;
  border: 0;
  outline: 0;
}

.input_estado {
  padding: 12px;
  margin: 10px;
  border: 0;
  outline: 0;
}

#sel_estado {
  color: black;
  margin-top: 12px;
}

.resultado {
  margin-left: 50px;
  background-color: transparent;
  padding: 100px;
  backdrop-filter: blur(12px);
  border: 1px solid white;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  color: white;
  text-align: center;
  height: 90%;
}

#sel_estado option {
  color: black;
}

.div_mensagem {
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;

  font-family: 'Poppins', sans-serif;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Blippo', Arial, sans-serif;
}


.button {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: #75D390;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  border-radius: 18px;
  margin: 10px;
}

button:hover {
  background-color: #18acfe;
}

a.button {
  position: relative;
}

a:active.button {
  top: 6px;
  left: -6px;
  box-shadow: none;
}

a:active.button:before {
  bottom: 1px;
  right: 1px;
}

a:active.button:after {
  top: 1px;
  left: 1px;
}

a.button i {
  display: block;
  background: #59D6DB;
  font-family: 'open_sansregular';
  padding: 15px;
  z-index: 2;
  position: inherit;
  font-style: normal;

}

.banner {
  background-size: 100%;
  padding: 260px 0;
}

.banner .container {
  height: 350px;
  align-items: center;
  justify-content: center;
}
h1{
  color: yellowgreen;
  text-align: center;
}
