*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
text-decoration: none;
}
body {
background-color: aliceblue   ;
}

.body-site {
display: flex;
height: 100%;
width: 100%;
}
.left-size {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
height: 100%;
}

.graficoVida {
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
width: 50%;
height: 50%;
background-color: transparent;
border-radius: 30px;

}

.right-size {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 50%;
height: 50%;
background: transparent;
border-radius: 30px;
}

.silos {
    gap: 3%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 5%;
padding: 2%;
border-radius: 20px;
box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.Grafico1 {
background: #33dcf7;
border-radius: 30px;
border: none;
}

.Grafico2 {
background: #33dcf7;
border-radius: 30px;
border: none;
}

.Grafico3 {
background: #33dcf7;
border-radius: 30px;
border: none;
}

.Grafico4 {
background: red;
border-radius: 30px;
border: none;
}


.grafico_linha {
height: 100%;
width: 100%;
margin-right: 3%;
}

.escala {
display: flex;

justify-content: center;

position: absolute;
top: 126%;
left: 50%;
transform: translate(-15%);

}
.Escala-Umidade {
margin-left: 4%;
}


.barra-notify {
background: #33dcf7;
border-radius: 30px;
padding: 10px 15px;
width: 80%;
height: 40%;
}

.barra-notify > h1 {
margin-right: 10%;

}

.Alert {
background: rgb(248, 248, 111);
border-radius: 30px;
padding: 10px 15px;

}
.alertas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 10%;
    border-top: 2px solid black;
    padding-top:5% ;
}
h1{
    text-align: center;
    margin: 5%;
}

footer
{
    position: absolute;
    top: 140%;
    width: 100%;
}