.caixaM {
    background-color:#fbfadb;
    padding: 20px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 400px;
    margin-left: 45px;
    

}

.caixaM h1 {
    color: green;
    margin-bottom: 10px;
}
.caixaVI {
    background-color: gray;
    padding: 20px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 400px;
    margin-right: 45px;
}

.caixaVI h1 {
    color: green;
    margin-bottom: 10px;
}
.caixaVA {
    background-color: gray;
    padding: 20px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 400px;
    margin-left: 45px;
}

.caixaVA h1 {
    color: green;
    margin-bottom: 10px;
}

.banner1{
   
    
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./fazenda_digital.jpg);
    
}  

.banner2{
    
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./soja.jpg);

  
}  

.banner3{
    
   
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./colab_fazenda.jpg);
   
}  
.txtM h2{

    color: black;
    display: flex;
}

.txtVI h2{

    color: black;
    display: flex;
}

.txtVA h2{

    color: black;
    display: flex;
}