body {
    padding: 0;
    margin: 0;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(./bg_contato.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;

}



.form-box {
    position: relative;
    width: 450px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 2px solid #FFF;
}

.contato {
    color: yellowgreen;
    text-align: center;
    font-size: 30px;
    border-bottom:1px solid rgb(255, 255, 255, 0.5);
}

.input_box {
    position: relative;
    margin: 30px 0;
    width: 310px;

}

.input_box label {

    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
}

.input_box input {

    background: transparent;
    border: none;
    outline: none;
}

.input_mensagem {
    position: relative;
    margin: 30px 0;
    width: 310px;
}

.input_mensagem label {
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
}

/* form {
    background-color: #F9F9F9;
    position: relative;
    border: 3px solid #CCC;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
}*/

/* label {
    display: block;
    margin-bottom: 10px;
} */

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    color: white;
}

* textarea {
    background-color: transparent;
    color: white;
    height:95px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}