.caixaM {
    background-color: #e5e5e58f;
    padding: 20px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 400px;
    margin-left: 45px;

}

.caixaM h1 {
    color: green;
    margin-bottom: 10px;

}

.caixaVI {
    background-color: grey;
    padding: 20px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 400px;
    margin-right: 45px;
}

.caixaVI h1 {
    color: green;
    margin-bottom: 10px;
}

.caixaVA {
    background-color: grey;
    padding: 20px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 400px;
    margin-left: 45px;
}

.caixaVA h1 {
    color: green;
    margin-bottom: 10px;
}

.banner1 {
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner2 {
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner3 {
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.txtM h2 {

    color: black;
    display: flex;
}

.txtVI h2 {

    color: black;
    display: flex;
}

.txtVA h2 {

    color: black;
    display: flex;
}